@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Lora:wght@400;700&family=Playfair+Display:wght@400;700&family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color: #2c3e50;  /* Deep blue */
    --light-color: #6c8ea5;   /* Lighter shade */
    --dark-color: #1b2838;    /* Darker shade */
}

header{
    text-align: center;
    rotate: 90deg;
    position: absolute;
    left: -250px;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    font-weight: bold;
    color: var(--light-color);
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h1, h2 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(-10px);
    animation: fadeInTitle 1.5s ease-out forwards;
}

.color{
    color: var(--primary-color);
}

@keyframes fadeInTitle {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


body {
    background: linear-gradient(to bottom, var(--primary-color), var(--light-color));
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poem {
    font-family: 'Georgia', serif;
    font-size: 1.2em;
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background: var(--light-color);
    color: var(--dark-color);
    border-radius: 10px;
    text-align: center;
}

.translator {
    font-family: 'Dancing Script', cursive;
    font-size: 1em;
    font-style: italic;
    color: var(--dark-color);
    margin-bottom: 15px;
}

.stanza {
    font-family: 'Lora', serif;
    font-size: 1.1em;
    margin-bottom: 20px;
    line-height: 1.6;
    color: var(--primary-color);
}

.stanza span:first-child {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}

.stanza {
    opacity: 0;
    transform: translateY(10px);
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

footer {
    text-align: center;
}
